{% load static %}
<div id="navbar">
<div class="header">
    <nav>
        <div class="logo">
            <img src="{% static 'images/logo_edit.png'%}" alt="logo">
        </div>

        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">History</a></li>
            <li><a href="{% url 'market' %}">Market</a></li>
            <li><a href="{% url 'card' %}">Card
                {% if order.total_cart_items > 0 %} 
                <span class="nav-items">{{order.total_cart_items}}</span>
                {% endif %}
            </a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    {% if session is false %}
    <div class="btn">
        {% if request.user.is_authenticated %}
        <a href="{% url 'logOut' %}"><button>Log Out</button></a>
        {% else %}
        <a href="{% url 'session' %}"><button>Registrarse</button></a>
        <a href="{% url 'session' %}"><button>Log In</button></a>
        {% endif %}
    </div>
    {% endif %}
</div>

</div>